<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Categorías</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
<object th:insert="fragmentos :: fragmentoDataTableHead"></object>
</head>
<body>
<object th:replace="fragmentos :: menu-superior"></object>

<div class="container">


	<div class="row">
  		<div class="form-group">
    		<label for="categoria">Selecciona una categoría principal</label>
    		<select onchange="loadCategoriasSecundarias()" class="form-control" id="categoria">
      			<option th:each="categoria: ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}">1</option>
    		</select>
 		 </div>
	</div>
	
	<div class="row">
		<label>Categorías secundarias </label>
			<table id="tablasubcategorias" class="display" style="width: 100%">
			</table>
		
	</div>
	<br/>
	<div class="row pull-right">
	<form onSubmit="JavaScript:addSubcategoria()" class="form-inline  pull-right">
  		<div class="form-group">
    		<label for="nueva_subcategoria">Añadir subcategoría: </label>
    		<input type="text" class="form-control" id="nueva_subcategoria" aria-describedby="Nueva subcategoria" placeholder="Nueva subcategoría">
  		</div>
  
  		<button type="submit" class="btn btn-primary">Añadir</button>
	</form>
	</div>
	

</div>
<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
<object th:replace="fragmentos :: scriptsBootstrap" th:remove="tag"></object>
<object th:insert="fragmentos :: scriptsDataTable"></object>
<script>


	/*
	 * Carga las subcategorías de una categoría seleccionada en el select categoria de la página.
	 * Es necesario refrescar la tabla para q muestre los nuevos datos
	 */
	function loadCategoriasSecundarias() {
		var url   = window.location.origin  + '/categorias/subcategoriasjson/' + document.getElementById("categoria").value;
		var tabla = new $.fn.dataTable.Api('#tablasubcategorias');
		$.get(url, function(data) {
			tabla.clear();
			tabla.rows.add(data);
			tabla.draw();
			});
	}

	function eliminarSubcategoria(i) {
		var url   = window.location.origin  + '/categorias/eliminarSubcategoria/' + i;
		$.ajax({
			type: "GET",
			url: url,
			success: function(){
				loadCategoriasSecundarias();
				alert("Registro eliminado");
				},
			error: function(){
				alert("No se pudo eliminar registro");
				}
		})
		
	}

	
	
	function addSubcategoria() {
		var url   = window.location.origin  + '/categorias/subcategorias/add/' + 
			document.getElementById("categoria").value + "/" +
			document.getElementById("nueva_subcategoria").value;
		$.post(url, function() {
			alert("Subcategoria añadida");
			});
	}
	
	$(document).ready(function() {
		$('#tablasubcategorias').DataTable({
	    	 "paging":   false,
	         "ordering": false,
	         "info":     false,
	         "searching":   false,
	         "autoWidth":  false,
	         "columnDefs": [
		         {  "targets": 0, "name": "id", visible: false, data: "id" },
		         {  "targets": 1, "width": "70%", "name": "nombre", visible: true, data: "nombre"},
		         {  "targets": 2, "width": "30%", "name": "acciones", visible: true, data: "id",
			         "render": 
			        	 function ( data, type, row, meta ) {
			             	return '<div class="btn-toolbar" role="toolbar"><button type="button" class="btn btn-primary">Editar '+
			             	data+
			             	'</button><button onclick="eliminarSubcategoria('+
			             	data+
			             	')" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></div>';
			         	}
				  }
	            ],
	        
        	"initComplete": function() {
            	$("select#categoria").change();
            	}
		});
	  

	    
	});
	
</script>
</body>
</html>